{% set  NETWORK_NAME = "vpc-deploymentmanager" %}
{% set  VM_NAME = "dm-vm-1" %}

resources:
- name: {{ NETWORK_NAME }}
  type: network.jinja
  properties:
    cidr: 10.0.1.0/24
- name: {{ VM_NAME }}
  type: vm.py
  properties:
    machineType: n1-standard-1
    zone: europe-west1-b
    network: {{ NETWORK_NAME }}