resources:
  - type: gcp-types/compute-v1:networks
    name: {{ env["name"] }}
    properties:
      routingConfig:
        routingMode: REGIONAL
      autoCreateSubnetworks: false
  - type: gcp-types/compute-v1:subnetworks
    name: subnet-1
    properties:
      region: europe-west1
      network: $(ref.{{ env["name"] }}.selfLink)
      ipCidrRange: {{ properties["cidr"] }}
      privateIpGoogleAccess: false